<app-search (searchWordEvent)="searchItems($event)"></app-search>
<app-add-customer (add)="addItems($event)"></app-add-customer>
<div class="container">
    <div class="row">
        <div *ngFor="let customer of items | paginate: { itemsPerPage: 4, currentPage: p }"  class="col-sm-6">
            <div class="card" >
                <lib-my-lib [customer]="customer"></lib-my-lib>
                <app-delete-customer (delete)="onDelete($event)" [customerId]="customer.id"></app-delete-customer>
                <app-update-customer (update)="onUpdate($event)" [customerId]="customer.id" ></app-update-customer>    
            </div>
        </div>
    <pagination-controls *ngIf="items.length > 0" class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>