<button class="btn btn-primary" (click)="showUpdateComponent()">{{text}}</button>
<form *ngIf="showUpdate" class="form">
  <div class="mb-3">
    <label  class="form-label">description</label>
    <input type="text" class="form-control" [(ngModel)]="UpdateCustomer.description" name="description">
  </div>
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" [(ngModel)]="UpdateCustomer.name" name="name">
  </div>
  
  <button class="btn btn-primary" (click)="onClick()">Submit</button>
</form>